@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'), local('ttf');
  font-display: swap
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'), local('ttf');
  font-display: swap;
}
