{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::home_page(section=section) }}

    {% set blog = get_section(path="blog/_index.md") %}
    <section class="blog-list">
        <h2 class="blog-list-heading">blog</h2>
        <ul class="blog-entries">
            {% for page in blog.pages %}
            <li class="blog-entry">
                <time datetime="{{ page.date }}">{{ page.date | date(format="%b %-d, %Y") }}</time>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock main_content %}
